.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  font-family:"Lato",sans-serif;
}

h2{
  font-family:"Poppins",sans-serif;
}
.poppins{
  font-family:"Poppins",sans-serif;
}
.roboto{
  font-family:"Roboto",sans-serif;
}
.bg-accent{
  background-color:rgb(145, 170, 162);
}
.bg-dark-accent{
  background-color:black;
}
.my-nav{
  background-color:black !important;
  position:fixed;
}

.hero{
  background-color:black;
  font-family:Poppins, sans-serif;
}

.pad{
  padding: 50px 0;
}

.hero-image{
  width:100%;
  max-width:500px;
  align-self:center;
}

.hero-text{
  text-align:center;
  align-self:center;
}

.cta-1 img{
  align-items:center;
  align-self:center;
  text-align:center;
  width:100%;
  max-width:300px;
}

.cta-1-text{
  align-self:center;
}
 
.text-green{
  color:green;
}

.text-secondary1{
  color:black;
}
